@model Department
@using SystemSup.Models
@{
ViewBag.Title = "Отделы";
}
<h2>Отделы</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Новый отдел</legend>
        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>
        <br/>
        <p><input type="submit" value="Добавить"/></p>
    </fieldset>
    <table class="table">
        @foreach (Department item in ViewBag.Departments)
        {
            <tr>
             
                <td>@item.Name</td>
                <td>@Html.ActionLink("Удалить", "DeleteDepartment", new { id = item.Id }, new { @class = "btn btn-danger btn-sm waves-effect white-text" })</td>
            </tr>
        }
    </table>
}




